# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws

# Flutter / Dart / Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/.gradle/
android/.kotlin/
android/app/debug/
android/app/profile/
android/app/release/
android/local.properties
android/key.properties
**/android/**/gradle-wrapper.jar
*.keystore
*.jks

# iOS
**/ios/Flutter/.last_build_id
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework/
ios/Flutter/Flutter.podspec
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json

# Web

# Symbolication / Obfuscation
app.*.symbols
app.*.map.json

# Secrets – niemals committen
.env
*.secret
